// colors
$red: #e00000;
$red2: #fe5858;
$red3: #ffd6d6;
$greyDark: #c4c4c4;
$greyMedium: #d8d8d5;
$greyLight: #e5e5e5;
$darkBlue: #313144;
$text-Color: #000000;
$white:#ffffff;
$grey: #B8BBC2;

// valeur mesure d'écart
$width-form-input: 18.8rem;
$padding-side-header: 7vw;


$parting-line-thickness: 1px;
// breakpoint mobile
$bpMobile: 799px;